/*Общие стили*/
body {
	min-width: 768px;
	
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	
	color: #333333;
	background-color: #f2f2f2;
}

h2, .lead, .features-name {
	margin-top: 0;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	
	color: #000000;
}

b {
/*	font-size: 30px;*/
/*	line-height: 24px;*/
	color: #000000;
/*	margin-top: 0;*/
} 

a, button {
	cursor: pointer;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0,1,1,0.2);
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.content-left {
	float: left;
}
.content-right {
	float: right;
}

.page-header {
	position: relative;
	
	color: #766357;
}

.main-navigation-left {
	float: left;
	width: 40%;
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.main-navigation-right {
	float: right;
	width: 40%;
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.main-navigation-left li{
	float: left;
	box-sizing: border-box;
	width: 50%;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 15%;
	
	text-align: left;
}

.main-navigation-right li{
	box-sizing: border-box;
	float: right;
	width: 50%;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 15%;
	
	text-align: right;
}

.main-navigation a {
	font-weight: bold;
	font-size: 14px;
	line-height: 26p;
	
	color: #000000;
	text-decoration: none;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.main-navigation a.current {
	color: #766357;
}

.main-navigation a.current:hover {
	color: #604e43;
}

.main-navigation a.current:active {
	color: #766357;
	opacity: 0.3;
}

.logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-69px);
}

.page-footer {
	width: 100%;
	padding-top: 36px;
	padding-bottom: 36px;
	
	background: #ffffff;
	opacity: 0.9;
	color: #000000;
}

.footer-item {
	width: 33.33333%;
	box-sizing: border-box;
	padding-left: 4%;
	padding-right: 4%;
}

.page-footer .hashtag {
	float: left;
	margin: 0 auto;
}

.page-footer .social {
	margin: 0 auto;
}

.page-footer .developer {
	float: right;
}

.footer-item h2 {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.social {
	text-align: center;
	font-size: 0;
}

.social-btn {
	position: relative;
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-right: 6px;
	vertical-align: top;
	
	background: #81b3d2;
}

.social-btn:last-child {
	margin-right: 0;
}

.social-btn::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	background: url("../img/spritesheet.png");
}

.social-btn-tw::after {
	width: 17px;
	 height: 15px;
	background-position: -866px -2px;
	margin-left: -8px;
	margin-top: -7px;
}

.social-btn-fb::after {
	width: 10px;
	 height: 19px;
	 background-position: -434px -2px;
	margin-left: -5px;
	margin-top: -11px;
}

.social-btn-utube::after {
	width: 20px;
	 height: 16px;
	 background-position: -887px -2px;
	margin-left: -10px;
	margin-top: -8px;
}

.social-btn:hover {
	background: #669ec0;
}

.social-btn:active {
	background: #5496bd;
}

.social-btn:active::after {
		opacity: 0.3;
}

.developer {
	min-width: 260px;
	margin-top: 3px;
	
	text-align: center;
}

.developer a {
	display: inline-block;
	
	width: 114px;
	height: 40px;
	margin-top:1px;
	margin-left: 4px;
	padding-top: 1px;
	padding-left: 1px;
	
	font-size: 0;
	vertical-align: middle;
}

.developer a:hover {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -235px -1px;;
}

.developer a:active {
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	background-position: -118px -1px;;
}

.developer img:hover {
	opacity: 0;
	margin: 0;
}



/*Стили для главной страницы index.html*/

.welcome-block {
	box-sizing: border-box;
	min-height: 508px;
	margin-bottom: 60px;
	padding-top: 76px;
	background: #b8d0e0;
	background-image: url(../img/bg-index.jpg);
	background-position: center -56px;
}

.welcome-block::after {
	content: "";
	display: block;
	width: 100%;
	height: 57px;
	background: url(../img/welcome-shape.png);
	background-position: center bottom;
	background-size: 100% 57px;
	border-bottom: 1px solid #ffffff;
}

.welcome-block img {
	display: block;
	margin: 0 auto;
	margin-bottom: 22px;
}

.lead {
/*	max-width: 444px;*/
	margin: 0 auto;
	margin-bottom: 27px;
	padding: 0 6%;
	
	text-align: center;
/*	outline: blue solid 1px;	*/
}

.features>p {
/*	max-width: 490px;*/
	margin: 0 auto;
	margin-bottom: 51px;
	padding: 0 6%;
	
	line-height: 26px;
	text-align: center;
}

.features-item {
	float: left;
	
	box-sizing: border-box;
	width: 33.333333%;
	padding-left: 4%;
	padding-right: 4%;
/*	outline: blue solid 1px;*/
}

.features-item p {
	max-width: 285px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	
	text-align: center;
}

.features-item .features-name {
	max-width: 160px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	line-height: 21px;
	
	color: #000000;
}

.features .city {
	background: #81b3d2 url("../img/bg-city.jpg") no-repeat;
	background-position: right center;
	background-size: 66.666666%;
}

.features-single .features-item {
	height: 256px;
	padding-top: 54px;
	padding-bottom: 30px;
		
	color: #ffffff;
	background: #81b3d2;
}

.features-single .features-name {
	color: #ffffff;
}

.features-single p {
		max-width: 302px;
}
.features-advice .features-item {
	position: relative;
	
	padding-left: 4.7%;
	padding-right: 4.7%;
	padding-top: 161px;
	/*	padding-bottom: 42px;*/
	min-height: 330px;
}

.features-advice .house {
	padding-left: 6%;
	padding-right: 6%;
}

.features-advice .features-name::before {
	content: "";
	position: absolute;
	left: 50%;
	background-image: url(../img/spritesheet.png);
	 background-repeat: no-repeat;
	 display: block;
	transform: translateX(-50%);
}

.house .features-name::before {
	top: 61px;
	width: 75px;
	height: 72px;
	background-position: -526px -2px;
}

.food .features-name::before {
	top: 62px;
	width: 74px;
	 height: 71px;
	 background-position: -448px -2px;
}

.souvenirs .features-name::before {
	top: 57px;
	width: 65px;
	height: 77px;
	background-position: -636px -2px;
}

.features .bridge {
	background: #81b3d2 url("../img/bg-bridge.jpg") no-repeat;
	background-position: left center;
	background-size: 66.666666%;
}

.features-item.content-right {
	float: right;
}

.features-block {
	background: #eeeeee;
}

.features-block .features-item{
	box-sizing: border-box;
	min-height: 256px;
	padding-top: 48px;
	padding-left: 5%;
	padding-right: 5%;
}

.index-search {
	box-sizing: border-box;
	width: 568px;
	margin: 0 auto;
	padding-top: 26px;
}

.index-search p.index-search-heading {
	margin-bottom: 30px;	
	
	font-weight: bold;
	font-size: 30px;
	line-height: 24px;
	
	color: #ffffff;
}

.index-search p {
	margin-bottom: 47px;
	
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

.index-search a {
	display: block;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
/*	height: 85px;*/
	
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	
	text-decoration: none;
	color: #ffffff;	
	background: #766357;
/*	margin-top: 47px;*/
/*	outline: blue solid 1px;*/
}

.index-search-form {
/*	display: none;*/
	position: absolute;
	z-index: 2;
	box-sizing: border-box;
	width: 568px;
/*	height: 400px;*/
	margin: 0 auto;
	padding: 55px;
	background: #ffffff;
	box-shadow: 0 7px 15px rgba(0,1,1,0.15);
/*	outline: blue solid 1px;*/
	
	font-size: 0;
	font-weight: bold;
	line-height: 38px;
}

.index-search-form div {
	position: relative;
	margin-bottom: 29px;
}

.index-search-form label {
	float: left;
	width: 100%;
	
	font-size: 14px;
	text-align: left;
}

.index-search-form input {
	float: right;
	height: 38px;
	box-sizing: border-box;
	
	outline: none;
	border: none;
	background: #f2f2f2;
}

.index-search-form button[name="calendar"] {
	position: absolute;
	top: 8px;
	right: 9px;
	
	width: 21px;
	height: 22px;
		
	border: none;
	outline: none;
	background: #f2f2f2 url(../img/spritesheet.png);
	background-position: -353px -2px;
}

.index-search-form button[name="calendar"]:hover {
	background-position: -353px -51px;
}

.index-search-form button[name="calendar"]:active {
	background-position: -353px -26px;
}

.index-search-form input[name="checkin"],
.index-search-form input[name="checkout"] {
	width: 346px;
	
	padding-left: 15px;
	padding-right: 10px;
}

.index-search-form input[name="checkin"]:hover,
.index-search-form input[name="checkout"]:hover {
	background: #ebebeb;
}

.index-search-form input[name="checkin"]:focus,
.index-search-form input[name="checkout"]:focus {
	background: #ffffff;
	border: 2px solid #e5e5e5;
}

.index-search-form input[name="children"],
.index-search-form input[name="adults"] {
	width: 114px;

	text-align: center;
}

.index-search-form .adults {
	float: left;
	width: 227px;
}

.index-search-form .children {
	float: right;
	width: 180px;
}

.index-search-form button[name="plus"],
.index-search-form button[name="minus"] {
	position: absolute;
	
	font-size: 0;
	
	border: none;
	outline: none;
	background: url(../img/spritesheet.png);
}

.index-search-form button[name="plus"] {
	top: 50%;
	right: 13px;
	transform: translateY(-50%);
	
	width: 13px;
	height: 13px;
	
	background-position: -620px -1px;
}

.index-search-form button[name="plus"]:hover {
	background-position: -620px -27px;
}

.index-search-form button[name="plus"]:active {
	background-position: -620px -14px;
}

.index-search-form button[name="minus"] {
	top: 50%;
	right: 88px;
	transform: translateY(-50%);
	
	width: 13px;
	height: 5px;
	
	background-position: -605px -1px;
}

.index-search-form button[name="minus"]:hover {
	background-position: -605px -11px;
}

.index-search-form button[name="minus"]:active {
	background-position: -605px -6px;
}

.index-search-form button[type="submit"] {
	width: 458px;
	height: 58px;
	margin-top: 26px;
	
	font-weight: bold;
	font-size: 21px;
	text-transform: uppercase;
	
	color: #ffffff;
	background: #81b3d2;
	border: none;
	outline: none;
}

.index-search-form button[type="submit"]:hover {
	background: #669ec0;
}

.index-search-form button[type="submit"]:active {
	background: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.background-map {
	width: 100%;
	height: 593px;
	background: #cbdda9 url("../img/bg-map.jpg") no-repeat;
	margin-bottom: -120px;
/*	outline: blue solid 1px;*/
}

/*Стили для catalog.html*/
.hotels-search {
	box-sizing: border-box;
	padding: 27px 6%;
	min-height: 217px;
	max-height: 562px;
	
	background: #7497ba url("../img/bg-hotels.jpg");
	background-position: center;
	background-size: 100%;
	color: #ffffff;
}

.hotels-search ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.hotels-search fieldset {
	margin: 0;
	padding: 0;
	
	border: none;
}

.hotels-search fieldset:first-child {
	margin-right: 46px;
	min-width: 193px;
	width: 20%;
}

.hotels-search legend {
	margin-bottom: 25px;
		
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
}

.hotels-search-category {
	float: left;
	min-height: 156px;
}

.hotels-search .checkbox label {
	position: relative;
	
	display: block;
	margin-bottom: 23px;
	height: 23px;
	min-width: 110px;
	padding-left: 40px;
	
	cursor: pointer;
}

.hotels-search .checkbox label:last-child {
	margin-bottom: 0;
}

.checkbox-indicator {
	position: absolute;
	
	top: -1px;
	left: -1px;
	content: "";
	background-image: url("../img/spritesheet.png");
	 background-repeat: no-repeat;
/*	 display: block;*/
	width: 22px;
	 height: 22px;
	 background-position: -378px -2px;
}

:checked ~ .checkbox-indicator {
	width: 26px;
	 height: 22px;
	top: -1px;
	 background-position: -404px -2px;
}

.hotels-search input[type="checkbox"] {
	display: none;
}

.hotels-search-category:last-child {
	float: right;
	width: 33%;
	min-width: 246px;
	margin-right: 0;
}

.price legend {
	margin-bottom: 10px;
	margin-left: 23px;
/*	margin-left: 12px;*/
}

.controls {
	margin-left: 9%;
}

.price-controls {
	position: relative;
	
	box-sizing: border-box;
/*	margin-left: 6%;*/
	margin-bottom: 20px;
	height: 36px;
	
	font-size: 0;
	
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls label {
	display: inline-block;
	
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	
	text-align: right;
	font-size: 14px;
	line-height: 32px;
	vertical-align: top;
		
	cursor: pointer;
}

.price-controls input {
	width: 50%;
	margin: 0;
	
	line-height: 28px;
	
	background: transparent;
	color: inherit;
/*	font: inherit;*/
	border: none;
	outline: none;
	cursor: inherit;
}

.min-price input {
	width: 45%;
}

.price-range {
	margin-bottom: 32px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	height: 22px;
	width: 2px;
	
	content: "";
	background: #ffffff;
}

.scale {
	height: 2px;
	
	background: rgba(255, 255, 255, 0.3);
}

.bar {
	position: relative;
	
	margin-left: 0%;
	width: 83%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -10px;
	
	width: 4px;
	height: 4px;
	
	background: #ababab;
	border-radius: 50%;
	border: 8px solid #ffffff;
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
/*	left: -10px;*/
}

.range-toggle-max {
	right: -10px;
}

.hotels-search button[type="submit"] {
	display: block;
	margin: 0 auto;
	padding-left: 34px;
	padding-right: 34px;
	
	font-size: 14px;
	line-height: 30px;
	
	color: inherit;
	background: transparent;
	text-transform: uppercase;
	outline: none;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.hotels-search button[type="submit"]:hover {
	color: #000000;
	background: #ffffff;
}

.search-results-header, 
.hotels-item {
/*	box-sizing: border-box;*/
	padding: 30px 6%;
	border-bottom: 1px solid #e5e5e5;
/*	box-shadow:  0 1px #e5e5e5;*/
}

.search-results-header h2 {
	float: left;
	width: 135px;
	margin: 0;
	margin-right: 30px;
/*	outline: blue solid 1px;*/
}

.search-results-header .sort {
	float: left;
	/*	margin-right: 40px;*/
	margin-top: 7px;
	
	font-size: 0px;
	line-height: 15px;
}

.sort * {
	display: inline-block;
	vertical-align: top;
}

.sort div {
	font-size: 12px;
	margin-right: 41px;
}

.search-results-header ul {
	margin: 0;
/*	margin-left: 40px;*/
	padding: 0;
	
	list-style: none;
/*	outline: blue solid 1px;*/
}

.sort li {
	margin-right: 33px;
}

.sort a {
	font-size: 12px;
	line-height: 16px;
	
	color: rgba(0,0,0,0.3);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sort a:hover {
	color: #81b3d2;
}

.sort a:active {
	color: #000000;
	border: none;
}

.sort a.current {
	color: #81b3d2;
	border: none;
}

.search-results-header .sort-order {
	float: right;
	
	padding-right: 1px;
	font-size: 0;
}

.sort-order a::before {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	
	margin-left: 14px;
	
	border: 10px solid #cccccc;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

a.arrow-up::before {
	border-top-width: 0;
}
a.arrow-down::before {
	border-bottom-width: 0;
}

.sort-order a:hover::before {
	border-top-color: #000000;
	border-bottom-color: #000000;
}

.sort-order a:active::before {
	border-top-color: #81b3d2;
	border-bottom-color: #81b3d2;
}

.sort-order a.current::before {
	border-top-color: #81b3d2;
	border-bottom-color: #81b3d2;
}

.hotel-photo img {
	padding: 0;
}

.hotels-item .hotel-photo {
	float: left;
	width: 135px;
	height: 90px;
	margin-right: 31px;
}

.hotel-review {
	float: left;
	
	box-sizing: border-box;
	max-width: 270px;
	margin-top: -5px;
			
/*	font-size: 0;*/
/*	outline: blue solid 1px;*/
}

.hotel-review .hotel-name {
	display: block;
	
	margin-bottom: 8px;
	
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	
	color: #000000;
	text-decoration: none;
}

.hotel-review .hotel-name:hover {
	color: #81b3d2;
}

.hotel-review .hotel-name:active {
	color: #000000;
	opacity: 0.3;
}

.hotel-price {
	font-size: 0;
	margin-bottom: 13px;
}

.hotel-price div {
	display: inline-block;
	vertical-align: top;
	
	min-width: 110px;
	margin-right: 6px;
	
	padding-bottom: 0;
	
	font-size: 14px;
}

.hotel-btn {
	font-size: 0;
}

.hotel-btn a {
	display: inline-block;
	vertical-align: top;
	
	margin-right: 6px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 17px;
	padding-right: 17px;
	
	font-size: 14px;
	font-weight: bold;
	
	text-decoration: none;
}

.hotel-review .details-btn {
	background: #81b3d2;
	color: #ffffff;
}

.hotel-review .details-btn:hover {
	background: #669ec0;
}

.hotel-review .details-btn:active {
	background: #5496bd;
	color: rgba(255,255,255,0.3);
}

.hotel-review .reserve-btn {
	background: #766357;
	color: #ffffff;
}

.hotel-review .reserve-btn:hover {
	background: #604e43;
}

.hotel-review .reserve-btn:active {
	background: #503e33;
	color: rgba(255,255,255,0.3);
}

.hotel-level {
	float: right;
/*	outline: blue solid 1px;*/
}

.hotel-level .stars {
	text-align: right;
}

.star {
	float: right;
	margin: 5px 0;
	margin-left: 3px;
	position: relative;
	display: block;
	color: red;
	width: 0px;
	height: 0px;
	border-right:  10px solid transparent;
	border-bottom: 7px  solid #81b3d2;
	border-left:	10px solid transparent;
	transform:	 rotate(35deg);
}

.star::before {
	content: "";
	border-bottom: 8px solid #81b3d2;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -5px;
	left: -6px;
	display: block;
	transform: rotate(-35deg);
}

.star::after {
	content: "";
	position: absolute;
	display: block;
	color: red;
	top: 0px;
	left: -10px;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid #81b3d2;
	border-left: 10px solid transparent;
	transform: rotate(-70deg);
	content: '';
}

.hotel-level .rating {
	margin-top: 63px;
	width: 110px;
	height: 27px;
	
	text-align: center;
	line-height: 27px;
	
	background: #f2f2f2;
	color: #666666;
}

/*Спрайт
.sprite {
background-image: url(spritesheet.png);
	 background-repeat: no-repeat;
	 display: block;
}

.sprite-html-academy {
	 width: 113px;
	 height: 39px;
	 background-position: -2px -2px;
}

.sprite-html-academy-active {
	 width: 113px;
	 height: 39px;
	 background-position: -119px -2px;
}

.sprite-html-academy-hover {
	 width: 113px;
	 height: 39px;
	 background-position: -236px -2px;
}

.sprite-icon-calendar {
	 width: 21px;
	 height: 22px;
	 background-position: -353px -2px;
}

.sprite-icon-checkbox {
	 width: 22px;
	 height: 22px;
	 background-position: -378px -2px;
}

.sprite-icon-checked {
	 width: 26px;
	 height: 22px;
	 background-position: -404px -2px;
}

.sprite-icon-fb {
	 width: 10px;
	 height: 19px;
	 background-position: -434px -2px;
}

.sprite-icon-food {
	 width: 74px;
	 height: 70px;
	 background-position: -448px -2px;
}

.sprite-icon-house {
	 width: 75px;
	 height: 72px;
	 background-position: -526px -2px;
}

.sprite-icon-minus {
	 width: 12px;
	 height: 3px;
	 background-position: -605px -2px;
}

.sprite-icon-plus {
	 width: 11px;
	 height: 11px;
	 background-position: -621px -2px;
}

.sprite-icon-souvenirs {
	 width: 64px;
	 height: 76px;
	 background-position: -636px -2px;
}

.sprite-icon-stars {
	 width: 89px;
	 height: 17px;
	 background-position: -704px -2px;
}

.sprite-icon-three-stars {
	 width: 65px;
	 height: 17px;
	 background-position: -797px -2px;
}

.sprite-icon-tweeter {
	 width: 17px;
	 height: 15px;
	 background-position: -866px -2px;
}

.sprite-icon-utube {
	 width: 20px;
	 height: 16px;
	 background-position: -887px -2px;
}

