body {
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", Arial, sans-serif;
	text-transform: uppercase;
	color: #333333;
	
}

h1 {
	
}

h2 {
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans", Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}