/*Общие стили*/
body {
	font-size: 14px;
	line-height: 21px;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
	color: #333333;
	background-color: #f2f2f2;
}

h1 {
	
}

h2, .lead, .features-name {
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin-top: 0;
}

b {
	font-size: 30px;
	line-height: 24px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin-top: 0;
}

.container {
	max-width: 1200px;
	min-width: 768px;
	background-color: #ffffff;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.content-left {
	float: left;
}
.content-right {
	float: right;
}

.page-header {
	position: relative;
	outline: blue solid 1px;
}

.main-navigation {
	min-height: 56px;
}

.main-navigation-left {
	float: left;
	width: 40%;
	padding: 0;
}
.main-navigation-right {
	float: right;
	width: 40%;
	padding: 0;
}
.main-navigation-left li{
	box-sizing: border-box;
	float: left;
	width: 50%;
	padding-left: 15%;
	outline: blue solid 1px;
}

.main-navigation-right li{
	box-sizing: border-box;
	float: right;
	width: 50%;
	padding-right: 15%;
	outline: blue solid 1px;
}

.logo {
	position: absolute;
	left: 40%;
	top: 0;
	width: 20%;
	text-align: center;
}

.page-footer {
	position: relative;
	z-index: 2;
	width: 100%;
	background: #ffffff;
	opacity: 0.9;
	outline: blue solid 1px;
}

.footer-item {
	float: left;
	width: 33.33333%;
	box-sizing: border-box;
	padding-left: 6%;
	padding-right: 6%;
	min-height: 120px;
	outline: blue solid 1px;
}

/*Стили для главной страницы index.html*/
.welcome-image {
	padding-top: 62px;
	background: #b8d0e0;
}
.welcome-image img {
	display: block;
	margin: 0 auto;
	margin-bottom: 60px;
}

.lead {
/*	max-width: 444px;*/
	margin: 0 auto;
	margin-bottom: 35px;
	padding: 0 6%;
	outline: blue solid 1px;
	text-align: center;
}

.features>p {
/*	max-width: 490px;*/
	margin: 0 auto;
	margin-bottom: 55px;
	padding: 0 6%;
	text-align: center;
}

.features-1 {
	background: #f2d5d0;
}

.features-1 .features-item {
	background: #81b3d2;
	min-height: 256px;
}

.features-item {
	float: left;
	width: 33.33333%;
	box-sizing: border-box;
	padding-left: 6%;
	padding-right: 6%;
	outline: blue solid 1px;
}

.advice .features-item {
	padding-top: 160px;
	box-sizing: border-box;
	min-height: 330px;
}

.features-2 {
	background: #e1b9a6;
}

.features-2 .features-item {
	background: #81b3d2;
	min-height: 256px;
	padding-top: 55px;
}

.features-3-5 {
	background: #eeeeee;
}
.features-3-5 .features-item{
	box-sizing: border-box;
	min-height: 256px;
	padding-top: 45px;
}

.index-search {
	box-sizing: border-box;
	width: 568px;
	margin: 0 auto;
	padding-top: 55px;
	outline: blue solid 1px;
}

.index-search a {
	display: block;
	width: 100%;
	height: 85px;
	margin-top: 55px;
	outline: blue solid 1px;
}

.index-search-form {
/*	display: none;*/
	position: absolute;
	z-index: 2;
	box-sizing: border-box;
	width: 568px;
	height: 400px;
	margin: 0 auto;
	padding: 55px;
	background: #ffffff;
	outline: blue solid 1px;
}
.index-search-form button[type="submit"] {
	width: 458px;
	height: 58px;
}
.background-map {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 593px;
	background: #cbdda9;
	margin-bottom: -120px;
	outline: blue solid 1px;
}

/*Стили для catalog.html*/
.hotels-search {
	padding: 15px 6%;
	max-height: 562px;
	background: #7497ba;
	color: #ffffff;
}
.hotels-search-category {
	float: left;
	min-height: 156px;
	margin-right: 9%;
		
}
.hotels-search-category:last-child {
	float: right;
	width: 224px;
	margin-right: 0;
}

.search-results-header, .hotels-item {
	padding: 30px 6%;
	outline: blue solid 1px;
}

.search-results-header h2,
.hotels-item .hotel-photo {
	float: left;
	width: 135px;
	margin: 0;
	margin-right: 30px;
	outline: blue solid 1px;
}

.search-results-header *  {
	float: left;
}
.search-results-header .sort {
	margin-right: 40px;
}
.search-results-header .sort-order {
	float: right;
	outline: blue solid 1px;
}
.search-results-header ul {
	margin: 0;
	padding: 0;
	outline: blue solid 1px;
}
.hotel-review {
	float: left;
	outline: blue solid 1px;
}
.hotel-level {
	float: right;
	outline: blue solid 1px;
}


